<!doctype html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>Ember.js</title>
	</head>

	<body>

		<script type="text/x-handlebars">
			
			{{outlet}}
			</script>

			<script type="text/x-handlebars" id="date">
		  	<h1>Calendar</h1>
		  	<!--{{#link-to 'date' 100 10 10}}link {{/link-to}}-->
		  	<!--{{#link-to 'date'}}Today{{/link-to}}-->
		  	<button {{action "today"}}>Today</button>
		  	
		  	<br>
		  	<!--{{#link-to 'date'}}Prev{{/link-to}}-->
		  	<button {{action "prevYear"}}>Prev</button>
		  	<label>{{year}}</label>
		  	<!--{{#link-to 'date'}}Next{{/link-to}}-->
		  	<button {{action "nextYear"}}>Next</button>
		  	<br>
		  	<!--{{#link-to 'date'}}Prev{{/link-to}}-->
		  	<button {{action "prevMonth"}}>Prev</button>
		  	<label>{{controller.getMonth}}</label>
		  	<!--{{#link-to 'date'}}Next{{/link-to}}-->
		  	<button {{action "nextMonth"}}>Next</button>
		  	<br>
		  	<table>
		  		<thead>
		  			<tr>
		 				<th>Su</th>
		 				<th>Mo</th>
		 				<th>Tu</th>
		 				<th>We</th>
		 				<th>Th</th>
		 				<th>Fr</th>
		 				<th>Sa</th>
		  			</tr>
		  		</thead>
		  		<tbody>
		  			{{#each item in getDays}}
		  				<tr>
		  					{{#each day in item}}
		  						{{#if day.isToday}}
		  							<td class='today' {{action 'selectedDate' day.value}}>{{day.value}}</td>
		  						{{else}}
		  							{{#if day.isSelected}}
		  								<td class='selectedDay' {{action 'selectedDate' day.value}}>{{day.value}}</td>
		  							{{else}}
		  								<td class='otherDay' {{action 'selectedDate' day.value}}>{{day.value}}</td>
		  							{{/if}}
		  						{{/if}}
		  					{{/each}}
		  				</tr>
		  			{{/each}}
		  		</tbody>
		  	</table>
		</script>

	  

	  	<!--подключение библиотек-->
	    <script src="js/libs/jquery-1.10.2.js"></script>
	    <script src="js/libs/handlebars-1.1.2.js"></script>
	    <script src="js/libs/ember-1.5.1.js"></script>
	    <script src="js/libs/ember-data.js"></script>
	 	
	    <script src="js/application.js"></script>
	    <script src="js/models/date.js"></script>
	    <script src="js/router.js"></script>
	    <script src="js/controllers/DateController.js"></script>
	    <link rel="stylesheet" type="text/css" href="styles/style.css">
	    
	</body>
</html>